<!doctype html>
<html lang="en">
<head>
  <title>Login 07</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="/login/css/style.css">
</head>
<body>
<section class="ftco-section">
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-md-12 col-re-10">

        <div class="wrap ">

          <div class="login-wrap p-4 p-re-10"style="width: 100%;">
            <div class="d-flex">

              <div class="w-100 text-center">
                <h3 class="mb-4">Đăng Ký</h3>
              </div>

            </div>
            <div class="signin-form">
              <div class="form-group mb-3">
                <label class="label" for="name">Họ và tên</label>
                <input type="text" id="name" class="form-control" placeholder="Họ và tên" required>
                <span class="name-mess">Không được để trống</span>
              </div>
              <div class="form-group mb-3">
                <label class="label" for="name">Số điện thoại</label>
                <input type="text" id="phone-number" class="form-control" placeholder="Số điện thoại" required>
                <span class="phone-mess">Không được để trống</span>
              </div>
              <div class="form-group mb-3">
                <label class="label" for="name">Email</label>
                <input type="text" id="email" class="form-control" placeholder="Username" required>
                <span class="email-mess">Không được để trống</span>
              </div>
              <div class="form-group mb-3">
                <label class="label" for="password">Mật khẩu</label>
                <input type="password" id="password" class="form-control" placeholder="Password" required>
                <span class="password-mess">Không được để trống</span>
              </div>
              <div class="form-group mb-3">
                <label class="label" for="password">Xác nhận mật khẩu</label>
                <input type="password" id="repassword" class="form-control" placeholder="Password" required>
                <span class="repassword-mess"></span>
              </div>
              <div class="form-group">
                <button class="form-control btn btn-primary submit px-3">Đăng Ký</button>
              </div>
              <div class="form-group d-md-flex">
                <div class="w-50 text-left">
                  <a href="/forgot-password">Quên mật khẩu</a>
                </div>
                <div class="w-50 text-right">
                  <a href="/login">Đăng nhập</a>
                </div>
              </div>

              <div class="form-group d-md-flex">
                <div class="w-100 text-center">
                  Hoặc đăng nhập bằng
                </div>
              </div>
              <div class="form-group d-md-flex">
                <div class="login-google my-3 mx-1">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                    <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>
                  </svg>
                  <span class="ml-1">Google</span>
                </div>
                <div class="login-facebook my-3 mx-1">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                    <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                  </svg>
                  <span class="ml-1">Google</span>
                </div>
                <div class="login-github my-3 mx-1">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                  </svg>
                  <span class="ml-1">Github</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="/login/js/jquery.min.js"></script>
<script src="/login/js/popper.js"></script>
<script src="/login/js/bootstrap.min.js"></script>
<script src="/login/js/register.js"></script>

</body>
</html>

